﻿@model BasketView
@{ 
    ViewData["Title"] = "Bruce's Bonanza Sale of Letters";
}
<h1>Bruce's Bonanza Sale of Letters</h1>
<p>
    You can find the code for this project at:
    https://bitbucket.org/padbury/codetest/src/master/
</p>
<h5>On sale for a short time only we have the following deals:</h5>
<table class="table table-striped">
    <tr><th>Item</th><th>Price</th><th>Offer</th></tr>
    <tr><td>A</td><td>£50</td><td>3 for £130</td></tr>
    <tr><td>B</td><td>£30</td><td>2 for £45</td></tr>
    <tr><td>C</td><td>£20</td><td></td></tr>
    <tr><td>D</td><td>£15</td><td></td></tr>
</table>

<form asp-action="Index">
    <label asp-for="BasketItems" class="control-label">Add items to your basket e.g. AA or AABC</label>
    <input asp-for="BasketItems" class="form-control" />
    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <span class="error text-danger">@Model.Message</span><br />
    }
    <input type="submit" value="Calculate Price" class="btn btn-primary" />
</form>

@if (Model.Total != null)
{
    <h2>@Model.Total.SellingPrice.AsMoney("en-GB")</h2>
    @if (Model.Total.ListPrice != Model.Total.SellingPrice)
    {
        <span>You Save: @Model.Total.Discount.AsMoney("en-GB")</span>
    }
}
